@import "tailwindcss";

@theme {
  /* Dynamic Theme Colors */
  --color-background: #080808;
  --color-accent: #E31B23;
  --color-textMain: #F8F9FA;
  --color-textMuted: #A0A0A0;
  
  /* Glassmorphism Variables */
  --color-glass: rgba(255, 255, 255, 0.03);
  --border-color-glass: rgba(255, 255, 255, 0.08);
  
  /* Custom Glowing Shadows */
  --shadow-glow-accent: 0 0 24px rgba(227, 27, 35, 0.4);
  --shadow-glow-accent-hover: 0 0 32px rgba(227, 27, 35, 0.6);
  --shadow-glass-panel: 0 8px 32px 0 rgba(0, 0, 0, 0.5);
  
  --font-family-sans: 'Outfit', sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-textMain);
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar for premium feel */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 10px;
}